In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import time
import requests
import datetime as dt
from scipy.stats import gompertz
from dateutil.relativedelta import *

# Create Bar Chart Race

In [3]:
df = pd.read_csv('./data_scrape.csv')
df.head()

,T√™n k√™nh,S·ªë l∆∞·ª£t th√≠ch,S·ªë l∆∞·ª£t xem,S·ªë b√¨nh lu·∫≠n,Ti√™u ƒë·ªÅ,Th·ªùi l∆∞·ª£ng video,Ng√†y ph√°t h√†nh,Tag
0,Wowy,419.0,16590,10.0,(VER JBEE7) NG∆Ø·ªúI VS WOWY - DUET CHALLENGE #n...,59.0,2023-11-01,NaN
1,Wowy,3786.0,164035,232.0,WOWY - NG∆Ø·ªúI (M/V),249.0,2023-11-01,"['Wowy', 'vietnam', 'saigon', 'vietnamese', 'r..."
2,Wowy,85.0,2864,3.0,11.11 - MV NG∆Ø·ªúI - WOWY TEASER,29.0,2023-11-01,NaN
3,Wowy,259.0,5944,5.0,L·ªùi c·∫£m ∆°n c·ªßa #Wowy üôè sau khi b·∫£n #rap #Ng∆∞·ªùi...,61.0,2023-11-01,"['Wowy', 'vietnam', 'saigon', 'vietnamese', 'r..."
4,Wowy,203.0,6868,7.0,WOWY DI·ªÑN LIVE CA KH√öC M·ªöI ƒê·∫¶Y CHI√äM NGHI·ªÜM #w...,61.0,2023-11-01,"['Wowy', 'vietnam', 'saigon', 'vietnamese', 'r..."

In [4]:
# Chuy·ªÉn th√†nh ng√†y
df['Ng√†y ph√°t h√†nh'] = df['Ng√†y ph√°t h√†nh'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d'))

In [5]:
channel_names = []
likes = []
views = []
title = []
date = []
c = 5
month_now = 1
year_now = 2025

for _, row in df.iterrows():
    diff_month = 12 * year_now + month_now - 12 * row['Ng√†y ph√°t h√†nh'].year - row['Ng√†y ph√°t h√†nh'].month
    if diff_month < 1:
        print(f"Skipping row with invalid date: {row['Ng√†y ph√°t h√†nh']}")
        continue
    ratios = gompertz(c).cdf(np.linspace(gompertz.ppf(0.01, c),
                                         gompertz.ppf(0.99, c), diff_month + 1))[1:]
    ratios[-1] = 1

    for i, ratio in enumerate(ratios):
        channel_names.append(row['T√™n k√™nh'])
        likes.append(row['S·ªë l∆∞·ª£t th√≠ch'] * ratio)
        views.append(row['S·ªë l∆∞·ª£t xem'] * ratio)
        title.append(row['Ti√™u ƒë·ªÅ'])
        date.append(row['Ng√†y ph√°t h√†nh'] + relativedelta(months=i+1))

new_df = pd.DataFrame(data={'T√™n k√™nh': channel_names,
                            'S·ªë l∆∞·ª£t th√≠ch': likes,
                            'S·ªë l∆∞·ª£t xem': views,
                            'Ti√™u ƒë·ªÅ': title,
                            'Ng√†y ph√°t h√†nh': date})

In [6]:
# T·ªâ l·ªá y√™u th√≠ch (Like Ratio) = (Likes / Views) * 100%
# T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n (Normalized Like Ratio) = (Like Ratio / Like Ratio trung b√¨nh c·ªßa k√™nh) * 100%
new_df = new_df[new_df['S·ªë l∆∞·ª£t xem'] > 0]
new_df['T·ªâ l·ªá y√™u th√≠ch'] = (new_df["S·ªë l∆∞·ª£t th√≠ch"] / new_df["S·ªë l∆∞·ª£t xem"])
create_feature_dict = {'T·ªâ l·ªá y√™u th√≠ch': 'mean',
                           'S·ªë l∆∞·ª£t xem': 'sum',
                           'S·ªë l∆∞·ª£t th√≠ch': 'sum'}
runbar_df = new_df.groupby(['T√™n k√™nh', 'Ng√†y ph√°t h√†nh']).agg(create_feature_dict).reset_index()
runbar_df['T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n'] = (runbar_df['T·ªâ l·ªá y√™u th√≠ch'] / runbar_df['T·ªâ l·ªá y√™u th√≠ch'].mean())
runbar_df['Ng√†y ph√°t h√†nh'] = runbar_df['Ng√†y ph√°t h√†nh'].dt.to_period('M')
runbar_df['T·ªâ l·ªá kh√¥ng y√™u th√≠ch b√¨nh qu√¢n'] = 1 - runbar_df['T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n']
runbar_df

,T√™n k√™nh,Ng√†y ph√°t h√†nh,T·ªâ l·ªá y√™u th√≠ch,S·ªë l∆∞·ª£t xem,S·ªë l∆∞·ª£t th√≠ch,T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n,T·ªâ l·ªá kh√¥ng y√™u th√≠ch b√¨nh qu√¢n
0,AMEE,2020-05,0.007130,5.308928e+05,3541.307104,0.474552,0.525448
1,AMEE,2020-06,0.018691,1.002774e+06,7596.474563,1.243941,-0.243941
2,AMEE,2020-07,0.019906,1.571752e+06,14187.857583,1.324802,-0.324802
3,AMEE,2020-08,0.022785,2.138007e+06,21321.504891,1.516455,-0.516455
4,AMEE,2020-09,0.023273,2.685916e+06,28391.663196,1.548924,-0.548924
...,...,...,...,...,...,...,...
2805,ƒê√îNG NHI,2024-09,0.016022,2.852788e+07,363753.414445,1.066313,-0.066313
2806,ƒê√îNG NHI,2024-10,0.016975,2.877277e+07,366632.851231,1.129728,-0.129728
2807,ƒê√îNG NHI,2024-11,0.017366,2.894835e+07,368828.547520,1.155749,-0.155749
2808,ƒê√îNG NHI,2024-12,0.018083,2.909904e+07,370660.729445,1.203481,-0.203481
2809,ƒê√îNG NHI,2025-01,0.018083,2.947136e+07,375278.000000,1.203481,-0.203481

### Bar Chart Race - L∆∞·ª£t xem

In [9]:
pivot_view = pd.pivot_table(runbar_df, values='S·ªë l∆∞·ª£t xem', index=['T√™n k√™nh'],
                    columns=['Ng√†y ph√°t h√†nh']).reset_index()
pivot_view.head()

Ng√†y ph√°t h√†nh,T√™n k√™nh,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,...,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01
0,AMEE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.525290e+07,1.529706e+07,1.533711e+07,1.537340e+07,1.540623e+07,1.547921e+07,1.552908e+07,1.556457e+07,1.559127e+07,1.577042e+07
1,B√çCH PH∆Ø∆†NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.139280e+09,1.146998e+09,1.153094e+09,1.157887e+09,1.161652e+09,1.164622e+09,1.166986e+09,1.168895e+09,1.170465e+09,1.183619e+09
2,Chi Pu Official,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.630534e+08,4.649572e+08,4.694994e+08,4.729102e+08,4.754957e+08,4.774239e+08,4.788493e+08,4.804700e+08,4.814723e+08,4.870175e+08
3,D∆∞∆°ng Domic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.064405e+06,5.944382e+06,7.332652e+06,8.388545e+06,9.467326e+06,1.071841e+07,1.878367e+07,2.247559e+07,2.984654e+07,3.160248e+07
4,ERIK Official,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.652262e+08,7.681310e+08,7.705918e+08,7.727115e+08,7.745119e+08,7.760507e+08,7.774893e+08,7.788385e+08,7.799655e+08,7.887669e+08

In [10]:
pivot_view.to_csv('./pivot_view.csv', index=False)

### Bar Chart Race - T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n

In [11]:
pivot_favorite = pd.pivot_table(runbar_df, values='T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n', index=['T√™n k√™nh'],
                    columns=['Ng√†y ph√°t h√†nh']).reset_index()
pivot_favorite.head()

Ng√†y ph√°t h√†nh,T√™n k√™nh,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,...,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01
0,AMEE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.599858,1.599858,1.599858,1.599858,1.599858,1.772084,1.772084,1.772084,1.772084,1.772084
1,B√çCH PH∆Ø∆†NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.278302,1.290659,1.290659,1.290659,1.290659,1.290659,1.290659,1.290659,1.290659,1.290659
2,Chi Pu Official,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.195346,1.205044,1.255935,1.258527,1.265577,1.286955,1.290214,1.494494,1.546916,1.546916
3,D∆∞∆°ng Domic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.843492,3.825260,3.825260,3.849205,3.897659,4.094410,4.475959,4.475959,5.171516,5.171516
4,ERIK Official,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.244549,1.244549,1.244549,1.259367,1.259367,1.259367,1.279444,1.300362,1.365550,1.365550

In [12]:
pivot_favorite.to_csv('./pivot_favorite.csv', index=False)

# Bar Chart Race - L∆∞·ª£ng ng∆∞·ªùi theo d√µi

In [13]:
channel_df = pd.read_csv('./channel_stats.csv')
channel_df['Ng√†y th√†nh l·∫≠p'] = pd.to_datetime(channel_df['Ng√†y th√†nh l·∫≠p'])
channel_df

                    T√™n k√™nh  S·ªë l∆∞·ª£t ƒëƒÉng k√Ω Ng√†y th√†nh l·∫≠p
0                       Wowy          1230000     2012-03-01
1              JustaTeeMusic          1350000     2013-02-01
2            Noo Ph∆∞·ªõc Th·ªãnh          1860000     2013-04-01
3                  Tr√∫c Nh√¢n          1810000     2013-05-01
4            Ho√†ng Th√πy Linh          1530000     2013-03-01
5                B√çCH PH∆Ø∆†NG          2340000     2014-11-01
6                     My Tam          2450000     2013-11-01
7                   ƒê√îNG NHI           572000     2020-04-01
8     S∆°n T√πng M-TP Official         11200000     2015-01-01
9                  H√≤a Minzy          1770000     2014-10-01
10              MIN OFFICIAL          2090000     2015-12-01
11  Phan M·∫°nh Qu·ª≥nh Official          1590000     2013-09-01
12           Chi Pu Official          1460000     2013-06-01
13             ERIK Official          1810000     2017-04-01
14          ƒêen V√¢u Official          5090000     2015-04-01
15              V≈© C√°t T∆∞·ªùng           512000     2012-02-01
16    H∆∞∆°ng Tr√†m Charmy pham           919000     2016-09-01
17             Ph∆∞∆°ng M·ªπ Chi           626000     2014-01-01
18                       J97          6130000     2020-02-01
19                     tlinh           621000     2018-11-01
20               MCK // Nger           716000     2018-05-01
21             Mono Official           626000     2022-06-01
22               V≈© Official          1260000     2013-12-01
23            Ph√°o Northside           451000     2020-02-01
24                      AMEE           159000     2020-04-01
25               D∆∞∆°ng Domic           199000     2022-11-01
26                HIEUTHUHAI          1020000     2020-11-01

In [15]:
channel_names = []
subscribers = []
months_years = []
c = 5
month_now = 1
year_now = 2025

for _, row in channel_df.iterrows():
    # T√≠nh s·ªë th√°ng t·ª´ ng√†y th√†nh l·∫≠p ƒë·∫øn th·ªùi ƒëi·ªÉm hi·ªán t·∫°i (ho·∫∑c th·ªùi gian d·ª± ƒëo√°n)
    diff_month = 12 * year_now + month_now - 12 * row['Ng√†y th√†nh l·∫≠p'].year - row['Ng√†y th√†nh l·∫≠p'].month
    
    if diff_month < 1:
        print(f"Skipping row with invalid date: {row['Ng√†y th√†nh l·∫≠p']}")
        continue
    
    # T√≠nh to√°n t·ª∑ l·ªá tƒÉng tr∆∞·ªüng d·ª±a tr√™n m√¥ h√¨nh Gompertz
    ratios = gompertz(c).cdf(np.linspace(gompertz.ppf(0.01, c),
                                         gompertz.ppf(0.99, c), diff_month + 1))[1:]
    ratios[-1] = 1  # ƒê·∫£m b·∫£o t·ª∑ l·ªá cu·ªëi c√πng l√† 1 (t·ªëi ƒëa)

    # T·∫°o c√°c gi√° tr·ªã cho t·ª´ng th√°ng
    for i, ratio in enumerate(ratios):
        channel_names.append(row['T√™n k√™nh'])
        subscribers.append(row['S·ªë l∆∞·ª£t ƒëƒÉng k√Ω'] * ratio)  # ∆∞·ªõc t√≠nh l∆∞·ª£t ƒëky
        month_year = (row['Ng√†y th√†nh l·∫≠p'] + relativedelta(months=i+1)).strftime('%Y-%m')
        months_years.append(month_year)


newChannel_df = pd.DataFrame({
    'T√™n k√™nh': channel_names,
    'S·ªë l∆∞·ª£t ƒëƒÉng k√Ω': subscribers,
    'Ng√†y th√†nh l·∫≠p': months_years
})
newChannel_df

        T√™n k√™nh  S·ªë l∆∞·ª£t ƒëƒÉng k√Ω Ng√†y th√†nh l·∫≠p
0           Wowy     3.786612e+04        2012-04
1           Wowy     6.300035e+04        2012-05
2           Wowy     8.770777e+04        2012-06
3           Wowy     1.119934e+05        2012-07
4           Wowy     1.358623e+05        2012-08
...          ...              ...            ...
2821  HIEUTHUHAI     1.003395e+06        2024-09
2822  HIEUTHUHAI     1.005265e+06        2024-10
2823  HIEUTHUHAI     1.006944e+06        2024-11
2824  HIEUTHUHAI     1.008451e+06        2024-12
2825  HIEUTHUHAI     1.020000e+06        2025-01

[2826 rows x 3 columns]

In [16]:
pivot_subscriber = pd.pivot_table(newChannel_df, 
                                  values='S·ªë l∆∞·ª£t ƒëƒÉng k√Ω', 
                                  index=['T√™n k√™nh'], 
                                  columns=['Ng√†y th√†nh l·∫≠p'], 
                                  aggfunc='sum',  # You can adjust the aggregation function as needed (e.g., 'sum', 'mean')
                                  fill_value=0)   # Optional: Fill missing values with 0 or another value

pivot_subscriber = pivot_subscriber.reset_index()  # Reset index to make 'T√™n k√™nh' a column
pivot_subscriber.to_csv('pivot_subscriber.csv', index = False)