In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import time
import requests
import datetime as dt
from scipy.stats import gompertz
from dateutil.relativedelta import *

# Create Bar Chart Race

In [5]:
df = pd.read_csv('./data_scrape.csv')
df.head()

,T√™n k√™nh,S·ªë l∆∞·ª£t th√≠ch,S·ªë l∆∞·ª£t xem,S·ªë b√¨nh lu·∫≠n,Ti√™u ƒë·ªÅ,Ng√†y ph√°t h√†nh
0,Wowy,418.0,16519.0,10.0,(VER JBEE7) NG∆Ø·ªúI VS WOWY - DUET CHALLENGE #n...,2023-11-01
1,Wowy,3772.0,163201.0,230.0,WOWY - NG∆Ø·ªúI (M/V),2023-11-01
2,Wowy,85.0,2855.0,3.0,11.11 - MV NG∆Ø·ªúI - WOWY TEASER,2023-11-01
3,Wowy,256.0,5893.0,5.0,L·ªùi c·∫£m ∆°n c·ªßa #Wowy üôè sau khi b·∫£n #rap #Ng∆∞·ªùi...,2023-11-01
4,Wowy,201.0,6795.0,7.0,WOWY DI·ªÑN LIVE CA KH√öC M·ªöI ƒê·∫¶Y CHI√äM NGHI·ªÜM #w...,2023-11-01

In [6]:
# Convert date
df['Ng√†y ph√°t h√†nh'] = df['Ng√†y ph√°t h√†nh'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d'))

In [15]:
channel_names = []
likes = []
views = []
title = []
date = []
c = 5
month_now = 1
year_now = 2025

for _, row in df.iterrows():
    diff_month = 12 * year_now + month_now - 12 * row['Ng√†y ph√°t h√†nh'].year - row['Ng√†y ph√°t h√†nh'].month
    if diff_month < 1:
        print(f"Skipping row with invalid date: {row['Ng√†y ph√°t h√†nh']}")
        continue
    ratios = gompertz(c).cdf(np.linspace(gompertz.ppf(0.01, c),
                                         gompertz.ppf(0.99, c), diff_month + 1))[1:]
    ratios[-1] = 1

    for i, ratio in enumerate(ratios):
        channel_names.append(row['T√™n k√™nh'])
        likes.append(row['S·ªë l∆∞·ª£t th√≠ch'] * ratio)
        views.append(row['S·ªë l∆∞·ª£t xem'] * ratio)
        title.append(row['Ti√™u ƒë·ªÅ'])
        date.append(row['Ng√†y ph√°t h√†nh'] + relativedelta(months=i+1))

new_df = pd.DataFrame(data={'T√™n k√™nh': channel_names,
                            'S·ªë l∆∞·ª£t th√≠ch': likes,
                            'S·ªë l∆∞·ª£t xem': views,
                            'Ti√™u ƒë·ªÅ': title,
                            'Ng√†y ph√°t h√†nh': date})

In [27]:
# T·ªâ l·ªá y√™u th√≠ch (Like Ratio) = (Likes / Views) * 100%
# T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n (Normalized Like Ratio) = (Like Ratio / Like Ratio trung b√¨nh c·ªßa k√™nh) * 100%
new_df = new_df[new_df['S·ªë l∆∞·ª£t xem'] > 0]
new_df['T·ªâ l·ªá y√™u th√≠ch'] = (new_df["S·ªë l∆∞·ª£t th√≠ch"] / new_df["S·ªë l∆∞·ª£t xem"])
create_feature_dict = {'T·ªâ l·ªá y√™u th√≠ch': 'mean',
                           'S·ªë l∆∞·ª£t xem': 'sum',
                           'S·ªë l∆∞·ª£t th√≠ch': 'sum'}
runbar_df = new_df.groupby(['T√™n k√™nh', 'Ng√†y ph√°t h√†nh']).agg(create_feature_dict).reset_index()
runbar_df['T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n'] = (runbar_df['T·ªâ l·ªá y√™u th√≠ch'] / runbar_df['T·ªâ l·ªá y√™u th√≠ch'].mean())
runbar_df['Ng√†y ph√°t h√†nh'] = runbar_df['Ng√†y ph√°t h√†nh'].dt.to_period('M')
runbar_df['T·ªâ l·ªá kh√¥ng y√™u th√≠ch b√¨nh qu√¢n'] = 1 - runbar_df['T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n']
runbar_df

,T√™n k√™nh,Ng√†y ph√°t h√†nh,T·ªâ l·ªá y√™u th√≠ch,S·ªë l∆∞·ª£t xem,S·ªë l∆∞·ª£t th√≠ch,T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n,T·ªâ l·ªá kh√¥ng y√™u th√≠ch b√¨nh qu√¢n
0,AMEE,2020-05,0.007130,5.301132e+05,3.536536e+03,0.494133,0.505867
1,AMEE,2020-06,0.018693,1.001354e+06,7.587714e+03,1.295413,-0.295413
2,AMEE,2020-07,0.019908,1.569716e+06,1.417538e+04,1.379568,-0.379568
3,AMEE,2020-08,0.022787,2.135380e+06,2.130540e+04,1.579118,-0.579118
4,AMEE,2020-09,0.023275,2.682727e+06,2.837211e+04,1.612923,-0.612923
...,...,...,...,...,...,...,...
2301,ƒê√†m Vƒ©nh H∆∞ng,2024-09,0.015751,8.058564e+08,4.742332e+06,1.091519,-0.091519
2302,ƒê√†m Vƒ©nh H∆∞ng,2024-10,0.015765,8.097184e+08,4.784772e+06,1.092521,-0.092521
2303,ƒê√†m Vƒ©nh H∆∞ng,2024-11,0.015765,8.124401e+08,4.813032e+06,1.092521,-0.092521
2304,ƒê√†m Vƒ©nh H∆∞ng,2024-12,0.015765,8.143860e+08,4.831898e+06,1.092521,-0.092521
2305,ƒê√†m Vƒ©nh H∆∞ng,2025-01,0.015765,8.240543e+08,4.893642e+06,1.092521,-0.092521

### Bar Chart Race - L∆∞·ª£t xem

In [31]:
pivot_view = pd.pivot_table(runbar_df, values='S·ªë l∆∞·ª£t xem', index=['T√™n k√™nh'],
                    columns=['Ng√†y ph√°t h√†nh']).reset_index()
pivot_view.head()

Ng√†y ph√°t h√†nh,T√™n k√™nh,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,...,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01
0,AMEE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.523357e+07,1.527767e+07,1.531767e+07,1.535391e+07,1.538670e+07,1.545952e+07,1.550929e+07,1.554472e+07,1.557138e+07,1.575030e+07
1,B√çCH PH∆Ø∆†NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.138777e+09,1.146480e+09,1.152565e+09,1.157350e+09,1.161109e+09,1.164075e+09,1.166436e+09,1.168343e+09,1.169912e+09,1.183059e+09
2,Chi Pu Official,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.629416e+08,4.648444e+08,4.693782e+08,4.727829e+08,4.753640e+08,4.772892e+08,4.787126e+08,4.803281e+08,4.813200e+08,4.868615e+08
3,ERIK Official,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.650232e+08,7.679262e+08,7.703855e+08,7.725039e+08,7.743032e+08,7.758413e+08,7.772761e+08,7.786162e+08,7.797266e+08,7.885225e+08
4,Ho√†ng Th√πy Linh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.624101e+08,6.653986e+08,6.679888e+08,6.702318e+08,6.721733e+08,6.738536e+08,6.753081e+08,6.765727e+08,6.779630e+08,6.858158e+08

In [29]:
pivot_view.to_csv('./pivot_view.csv', index=False)

### Bar Chart Race - T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n

In [32]:
pivot_favorite = pd.pivot_table(runbar_df, values='T·ªâ l·ªá y√™u th√≠ch b√¨nh qu√¢n', index=['T√™n k√™nh'],
                    columns=['Ng√†y ph√°t h√†nh']).reset_index()
pivot_favorite.head()

Ng√†y ph√°t h√†nh,T√™n k√™nh,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,...,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01
0,AMEE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.666094,1.666094,1.666094,1.666094,1.666094,1.846271,1.846271,1.846271,1.846271,1.846271
1,B√çCH PH∆Ø∆†NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.331314,1.344233,1.344233,1.344233,1.344233,1.344233,1.344233,1.344233,1.344233,1.344233
2,Chi Pu Official,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.244722,1.254822,1.307895,1.310608,1.317948,1.340235,1.343639,1.563023,1.606303,1.606303
3,ERIK Official,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.295713,1.295713,1.295713,1.311041,1.311041,1.311041,1.332116,1.354685,1.425498,1.425498
4,Ho√†ng Th√πy Linh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.870374,0.870374,0.870374,0.870374,0.870374,0.870374,0.870374,0.870374,1.128875,1.128875

In [33]:
pivot_favorite.to_csv('./pivot_favorite.csv', index=False)

# Bar Chart Race - L∆∞·ª£ng ng∆∞·ªùi theo d√µi

In [53]:
channel_df = pd.read_csv('./channel_stats.csv')
channel_df['Ng√†y th√†nh l·∫≠p'] = pd.to_datetime(channel_df['Ng√†y th√†nh l·∫≠p'])
channel_df

                    T√™n k√™nh  S·ªë l∆∞·ª£t theo d√µi Ng√†y th√†nh l·∫≠p
0                       Wowy           1230000     2012-03-01
1              JustaTeeMusic           1350000     2013-02-01
2              ƒê√†m Vƒ©nh H∆∞ng           1860000     2013-04-01
3                  Tr√∫c Nh√¢n           1810000     2013-05-01
4            Ho√†ng Th√πy Linh           1530000     2013-03-01
5                B√çCH PH∆Ø∆†NG           2340000     2014-11-01
6                     My Tam           2450000     2013-11-01
7     S∆°n T√πng M-TP Official          11200000     2015-01-01
8                  H√≤a Minzy           1770000     2014-10-01
9               MIN OFFICIAL           2090000     2015-12-01
10  Phan M·∫°nh Qu·ª≥nh Official           1590000     2013-09-01
11           Chi Pu Official           1460000     2013-06-01
12             ERIK Official           1810000     2017-04-01
13          ƒêen V√¢u Official           5090000     2015-04-01
14                       J97           6130000     2020-02-01
15                     tlinh            621000     2018-11-01
16               MCK // Nger            716000     2018-05-01
17             Mono Official            625000     2022-06-01
18               V≈© Official           1260000     2013-12-01
19            Ph√°o Northside            451000     2020-02-01
20                      AMEE            159000     2020-04-01

In [54]:
channel_names = []
subscribers = []
months_years = []
c = 5
month_now = 1
year_now = 2025

for _, row in channel_df.iterrows():
    # T√≠nh s·ªë th√°ng t·ª´ ng√†y th√†nh l·∫≠p ƒë·∫øn th·ªùi ƒëi·ªÉm hi·ªán t·∫°i (ho·∫∑c th·ªùi gian d·ª± ƒëo√°n)
    diff_month = 12 * year_now + month_now - 12 * row['Ng√†y th√†nh l·∫≠p'].year - row['Ng√†y th√†nh l·∫≠p'].month
    
    if diff_month < 1:
        print(f"Skipping row with invalid date: {row['Ng√†y th√†nh l·∫≠p']}")
        continue
    
    # T√≠nh to√°n t·ª∑ l·ªá tƒÉng tr∆∞·ªüng d·ª±a tr√™n m√¥ h√¨nh Gompertz
    ratios = gompertz(c).cdf(np.linspace(gompertz.ppf(0.01, c),
                                         gompertz.ppf(0.99, c), diff_month + 1))[1:]
    ratios[-1] = 1  # ƒê·∫£m b·∫£o t·ª∑ l·ªá cu·ªëi c√πng l√† 1 (t·ªëi ƒëa)

    # T·∫°o c√°c gi√° tr·ªã cho t·ª´ng th√°ng
    for i, ratio in enumerate(ratios):
        channel_names.append(row['T√™n k√™nh'])
        subscribers.append(row['S·ªë l∆∞·ª£t theo d√µi'] * ratio)  # ∆∞·ªõc t√≠nh l∆∞·ª£t theo d√µi
        month_year = (row['Ng√†y th√†nh l·∫≠p'] + relativedelta(months=i+1)).strftime('%Y-%m')
        months_years.append(month_year)


# T·∫°o DataFrame m·ªõi ch·ª©a k·∫øt qu·∫£
newChannel_df = pd.DataFrame({
    'T√™n k√™nh': channel_names,
    'S·ªë l∆∞·ª£t theo d√µi': subscribers,
    'Ng√†y th√†nh l·∫≠p': months_years
})
newChannel_df

     T√™n k√™nh  S·ªë l∆∞·ª£t theo d√µi Ng√†y th√†nh l·∫≠p
0        Wowy      37866.122062        2012-04
1        Wowy      63000.353531        2012-05
2        Wowy      87707.765191        2012-06
3        Wowy     111993.408672        2012-07
4        Wowy     135862.315864        2012-08
...       ...               ...            ...
2301     AMEE     156558.595956        2024-09
2302     AMEE     156802.780499        2024-10
2303     AMEE     157024.933819        2024-11
2304     AMEE     157226.797857        2024-12
2305     AMEE     159000.000000        2025-01

[2306 rows x 3 columns]

In [55]:
pivot_subscriber = pd.pivot_table(newChannel_df, 
                                  values='S·ªë l∆∞·ª£t theo d√µi', 
                                  index=['T√™n k√™nh'], 
                                  columns=['Ng√†y th√†nh l·∫≠p'], 
                                  aggfunc='sum',  # You can adjust the aggregation function as needed (e.g., 'sum', 'mean')
                                  fill_value=0)   # Optional: Fill missing values with 0 or another value

pivot_subscriber = pivot_subscriber.reset_index()  # Reset index to make 'T√™n k√™nh' a column
pivot_subscriber.to_csv('pivot_subscriber.csv', index = False)